@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css');
img {
    max-width: 100%;
    height: auto;
    float: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.img-center{
    position: relative;
    margin: auto;
}

.pl_button{
    color: black;
    background-image: url('/main/flaga_polski.png');
}
.en_button{
    color: white;
    background-image: url('/main/flaga_anglii.png');
}

.language_button {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}

li a:hover:not(.active),
.lang-menu .selected-lang:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: rgb(140, 156, 184);
}

article {
    float: left;
    width: 46%;
    padding: 2%;
    background-color: #f1f1f1;
}

.tab {
    display: table;
    clear: both;
    width: 98%;
    background-color: rgb(134, 51, 51);
    padding: 1%;
}

aside {
    background-color: #666;
    width: 48%;
    padding: 1%;
    float: left;
}

footer {
    text-align: center;
    clear: both;
    color: white;
    padding: 5px;
    margin-top: 5px;
}

label,
button {
    padding-top: 1%;
}

.carousel-item img {
    width: auto;
    max-height: 350px;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
    bottom: .5em;
}

a {
    text-decoration: none;
}

.lang-menu {
    text-align: right;
    font-weight: bold;
    position: relative;
    background-color: #333;
    color: white;
}

.lang-menu .selected-lang {
    display: flex;
    justify-content: space-between;
    line-height: 1;
    cursor: pointer;
    text-align: left;
}

.lang-menu .selected-lang:before {
    content: '';
    display: inline-block;
    width: 50px;
    height: 32px;
    background-image: url("../main/globus.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

.lang-menu ul {
    margin: 0;
    padding: 0;
    display: none;
    border: 1px solid #f8f8f8;
    position: absolute;
    top: 45px;
    right: 0px;
    width: 125px;
    border-radius: 5px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
}

.lang-menu ul li {
    list-style: none;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.lang-menu ul li a {
    text-decoration: none;
    width: 125px;
    padding: 5px 10px;
    display: block;
}

.lang-menu ul li:hover {
    background-color: #f2f2f2;
    display: block;
}

.lang-menu ul li a:before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-right: 10px;
    background-size: contain;
    background-repeat: no-repeat;
}

.en:before {
    background-image: url(https://www.worldometers.info/img/flags/uk-flag.gif);
    color: #111;
}

.pl:before {
    background-image: url(https://www.worldometers.info/img/flags/pl-flag.gif);
    color: #111;
}

.lang-menu:hover ul {
    display: block;
}

.lang-menu:active ul {
    display: block;
}