h2 {
    font-family: sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
}

strong {
    font-weight: 700;
    background-color: yellow;
}

p {
    font-family: sans-serif;
}

img {
    max-width: 100%;
    height: auto;
    float: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: rgb(140, 156, 184);
}

article {
    float: left;
    width: 46%;
    padding: 2%;
    background-color: #f1f1f1;
}

.tab {
    display: table;
    clear: both;
    width: 98%;
    background-color: rgb(134, 51, 51);
    padding: 1%;
}

aside {
    background-color: #666;
    width: 48%;
    padding: 1%;
    float: left;
}

footer {
    text-align: center;
    clear: both;
    color: white;
    padding: 5px;
    margin-top: 5px;
}

.carousel-item img {
    width: auto;
    max-height: 350px;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
    bottom: .5em;
}