<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/main/login.css}" type="text/css" />
    <script type="text/javascript" th:src="@{/main/login.js}"></script>
</head>

<body>
<h2>Modal Login Form</h2>

<button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button>

<div id="id01" class="modal">
    <form onsubmit="return checkLoginForm(this)" class="modal-content animate"
          method="post" action="#" th:action="@{login}" th:object="${user}"
          style="background-color: ivory;">
        <div class="imgcontainer">
            <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>

            <div class="col-sm-3 px-0">
                <img th:src="@{/main/person.svg}" alt="Avatar" class="avatar img-responsive" style="width: 10%" >
            </div>
        </div>

        <div class="container">
            <label><b>Login</b></label>
            <input type="text" th:field="*{login}" placeholder="Podaj login" name="uname" required>

            <label><b>Hasło</b></label>
            <input type="password" th:field="*{password}" placeholder="Podaj hasło" name="psw" required>

            <button type="submit" onclick="window.location.href='/user/login'">Zaloguj się</button>
            <label>
                <input type="checkbox" checked="checked" name="remember"> Zapamiętaj mnie
            </label>
        </div>

        <div class="container" style="background-color:#f1f1f1">
            <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Anuluj</button>
            <span class="psw">Zapomniałeś/łaś <a href="#">hasła?</a></span>
        </div>
    </form>
</div>

</body>
</html>